<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/aide.css"></link>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/webjars/angularjs/1.4.9/angular.min.js"></script>
<script src="/webjars/angular-new-router/0.5.3/dist/router.es5.min.js"></script>
<script src="/js/aide.js"></script>
</head>
<body ng-app="aideApp">

	<nav class="navbar navbar-default  navbar-fixed-top" th:include="menu :: main"></nav>
		
	<div class="container" ng-controller="AppController as app">
		<ng-viewport></ng-viewport>
	</div>

<script th:inline="javascript">
/*<![CDATA[*/
	angular.module('aideContant',[]).constant('status', {
		auth: [[${auth}]]
	});

/*]]>*/
</script>
</body>
</html>
