<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/aide.css"></link>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/webjars/angularjs/1.4.9/angular.min.js"></script>
<script src="/webjars/angular-new-router/0.5.3/dist/router.es5.min.js"></script>
<script src="/js/aide.js"></script>
</head>
<body>
	<nav class="navbar navbar-default  navbar-fixed-top" th:include="menu :: main"></nav>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<form th:action="@{/aide/login}" method="post">
		<div>
			<label> Email : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
	<a href="/aide//login/register">Register here</a>
</body>
</html>